<!-- Extiende de Layout.html -->
{% extends "layout.html" %}

{% block content %}

<!-- Cuadro de presentacion -->
<!-- BOOSTRAP -->
<div class="jumbotron">
  <h1 class="display-4">Trabajo practico para programar</h1>
  <p class="lead"> Programe un Script que dado un archivo html de la página de celebridades de IMDB (https://www.imdb.com/search/name/?gender=male,female&ref=rlm), extraiga los nombres y película principal de los mismos.</p>
  <hr class="my-4">
  <!-- <p>Trabajo de Fundamentos.</p> -->
  <a class="btn btn-primary btn-lg" href="/litacelebridades" role="button">Comenzar</a>
</div>

{% endblock%}